<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comments_open_group_post.content %>
</p>

<p>
  <b>Open group post:</b>
  <%= @comments_open_group_post.open_group_post_id %>
</p>

<p>
  <b>User:</b>
  <%= @comments_open_group_post.user_id %>
</p>


<%= link_to 'Edit', edit_comments_open_group_post_path(@comments_open_group_post) %> |
<%= link_to 'Back', comments_open_group_posts_path %>
