<div class="navigation-bar fixed-top dark shadow">
      <nav class="navigation-bar-content topbar" style="margin:0 auto; ">
        <a href="#" >        

        <%= image_tag("logo.png", :style => "padding: 0; margin:0; padding-top:5px;", :class => "element") %>

        </a>
        <span class="element-divider"></span>
         
        <%= form_for("user", :url => user_session_path) do |f| %> 
        <button type="submit" class="element place-right">
          <font style="font-weight:bold; font-size: 15px;">Sign in</font>
        </button>


        <div class="element place-right" style="padding-right: 11px;">
          <div class="input-control checkbox" >
          <label>
             <%= f.check_box :remember_me, :checked => "checked" %>    
            <span class="check"></span>           
          </label>
          </div>
        </div>


        <div class="element place-right" style="padding-left: -10px;">
          <div class="input-control password " data-role="input-control">
            <%= f.password_field :password, :placeholder => "Парола", :style => "width: 200px; margin-left: -4px; margin-right: -4px", :tabindex => 2 %>
          </div>    
        </div>
        <div class="element place-right" style="padding-left: -10px;">
            <div class="input-control text " data-role="input-control">
              <%= f.email_field :email, :autofocus => true, :placeholder => "Е-mail", :style => "width: 200px; margin-right: -4px; margin-left: -4px;",  :tabindex => 1  %>
            </div>  
        </div>
        <% end %>
      </nav>
    </div>
    <div style="height:40px;"> </div>

    <%= image_tag("cover.jpg", :style => "min-width: 1000px; position: relative;") %>
   
    <div class="block" style="background-color:white; position: absolute; height:auto; width: 100%; min-width: 1000px;  ">
      <div class="section group">
        <div class="col span_1_of_5"><h4>Групи за дискусия</h4><p class="centralno">Това са отворени групи, за всички потребители с близки интереси. Това е мястото, където вие можете да споделяте вашите виждания и мнения по определена тема. <br/> "В спора се ражда истината!"</p></div>
        <div class="col span_1_of_5"><h4>Частни групи</h4><p class="centralno">Това са групи с ограничен достъп, които имат собствен администратор. Той приема или отхвърля кандидатстващите потребители. Тук можете да споделяте информация, която няма да бъде достъпна до останалите потребители.</p></div>
        <div class="col span_1_of_5 centered" style=" margin-bottom: 0;" >
          <h4>Регистрация</h4>
          <%= form_for(resource, :as => resource_name,  :url => registration_path(resource_name), :html => { :class => "hash", :name => "registrationForm", :onSubmit => 'return validateRegForm();' } ) do |f| %>
          <form style="text-align: center;">
              <div class="input-control text" data-role="input-control" >
                      <%= devise_error_messages! %>
                      <%= f.text_field :name, :placeholder => "Име и фамилия", :style => "margin-bottom:4px; text-align: center;",  :tabindex => 3 %> 
                      <%= f.email_field :email, :placeholder=>"Електронна поща", :style =>"margin-bottom:4px; text-align: center;",  :tabindex => 4 %>
                      <%= f.password_field :password, :placeholder=>"Парола", :style => "margin-bottom:4px; text-align: center;",  :tabindex => 5 %>
                      <%= f.password_field :password_confirmation, :placeholder=>"Повтори парола", :style => "margin-bottom:4px; text-align: center;",  :tabindex => 6 %>
                      <button type="submit" class="large button inverse" style="width: 100%;">Регистрирай се!</button>
              </div>
          </form>
          <% end %>
        </div>
        <div class="col span_1_of_5"><h4>Курсове</h4><p class="centralno">Това е вид група, която предоставя възможността на всеки компетентен човек в дадена област, да споделя своите знания. Той може да помага и насочва членовете на групата. Онлайн курса е лесно достъпен за вскички възрастови групи.</p></div>
        <div class="col span_1_of_5"><h4>Бързи въпроси</h4><p class="centralno">Teachbox предлага възможността на всеки потребител да задава въпроси по разнообразни теми. Останалите потребители могат да помогнат на този човек бързо, лесно и ефективно.</p></div>
      </div>
    </div>


