<% if current_user.present? %>
  
  <%= form_for(QuickQuestion.new, 
        :url => { :controller => :quick_questions, 
        :action => :create, 
        :user_id => current_user.id }, :html => {:method => :post}) do |f| %>
    <% if @quick_question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quick_question.errors.count, "error") %> prohibited this quick_question from being saved:</h2>
        <ul>
          <% @quick_question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.label :topic %><br />
      <%= f.text_field :topic %>
    </div>
    <div class="field">
      <%= f.label :question %><br />
      <%= f.text_area :question, :style => "height:100px;" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>

  Трябва да си влезете в профила или да се регистрирате.

<% end %> 