<h1>Listing quick_questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quick_questions.each do |quick_question| %>
  <tr>
    <td><%= quick_question.question %></td>
    <td><%= quick_question.user_id %></td>
    <td><%= link_to 'Show', quick_question %></td>
    <td><%= link_to 'Edit', edit_quick_question_path(quick_question) %></td>
    <td><%= link_to 'Destroy', quick_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quick question', new_quick_question_path %>
