<% if current_user.present? %>


<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  Тема: <%= @quick_question.topic %><br />
  Въпрос: <%= @quick_question.question %>
</p>

<p>
  <b>Answers:</b><br />
  <% 

  	@answers = QuickAnswer.where('quick_question_id = ?', @quick_question.id)
	  @answers.each do |a| %>
      
    <% isLiked = false                 
       likesAnswer = LikesAnswerQuestion.where("quick_answer_id = ?", a.id) 
       likesAnswer.each do |user| 
          if current_user.present?
            if user.user_id == current_user.id 
              isLiked = true
              break
            else
              isLiked = false 
            end
          end
        end %>  

            <%= User.find(a.user_id).name %>:
            <%= a.answer %>

      <% if current_user.present? && !isLiked %>
        <%= link_to image_tag("thumbs23.png", :style => "width: 26px; height: 30px; padding-bottom:7px;" ), {:controller => :quick_questions, :action => :like_answer, :id => a.id }, {:method => :post } %>
      <% else %>
        <%=  image_tag("thumbs23.png", :style => "width: 26px; height: 30px; padding-bottom:7px;" ) %>
      <% end %>

      <%= likesAnswer.length %>
      
    	<br />
   	<% end %>
</p>

	<%= form_for(QuickAnswer.new, 
        :url => { :controller => :quick_answers, 
        :action => :create, 
        :quick_question_id => @quick_question.id, :user_id => current_user.id }, :html => {:method => :post}) do |f| %>
	<% if QuickAnswer.new.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(QuickAnswer.new.errors.count, "error") %> prohibited this quick_answer from being saved:</h2>
      		<ul>
      			<% QuickAnswer.new.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>
  	<% if current_user.present? %>
  		<div class="field">
    		<%= f.label :answer %><br />
    		<%= f.text_area :answer, :style => "height:100px;" %>
  		</div>
  		<div class="actions">
    		<%= f.submit %>
  		</div>
	<% end %>
<% end %>

<% else %>

  Трябва да си влезете в профила или да се регистрирате.

<% end %> 