<h1>Listing comments_closed_group_posts</h1>

<table>
  <tr>
    <th>Closed group</th>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments_closed_group_posts.each do |comments_closed_group_post| %>
  <tr>
    <td><%= comments_closed_group_post.closed_group_id %></td>
    <td><%= comments_closed_group_post.content %></td>
    <td><%= comments_closed_group_post.user_id %></td>
    <td><%= link_to 'Show', comments_closed_group_post %></td>
    <td><%= link_to 'Edit', edit_comments_closed_group_post_path(comments_closed_group_post) %></td>
    <td><%= link_to 'Destroy', comments_closed_group_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comments closed group post', new_comments_closed_group_post_path %>
