<p id="notice"><%= notice %></p>

<p>
  <b>Closed group:</b>
  <%= @comments_closed_group_post.closed_group_id %>
</p>

<p>
  <b>Content:</b>
  <%= @comments_closed_group_post.content %>
</p>

<p>
  <b>User:</b>
  <%= @comments_closed_group_post.user_id %>
</p>


<%= link_to 'Edit', edit_comments_closed_group_post_path(@comments_closed_group_post) %> |
<%= link_to 'Back', comments_closed_group_posts_path %>
