<%= form_for(@open_group_post) do |f| %>
  <% if @open_group_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_group_post.errors.count, "error") %> prohibited this open_group_post from being saved:</h2>

      <ul>
      <% @open_group_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :open_group_id %><br />
    <%= f.number_field :open_group_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
