<% if current_user.present? %>

<%= form_tag "/searches", :method => 'get' do %>
                 <%= text_field_tag(:search) %>
                 <%= submit_tag "Search"%>
<% end %>       

<%
	 @admin_groups = ClosedGroup.where(:admin_id => current_user.id)
	 @admin_groups.each do |adm|
	 	@requests = Request.where(:closed_group_id => adm.id)
	 	@requests.each do |req|
	 		%>
	 		<p> imeto na grupata: 
	 		<br />
	 			<%= ClosedGroup.find(req.closed_group_id).name %>
	 			<br /><br />
	 			imeto na 4oveka: 
	 			<br />
	 			<%= User.find(req.user_id).name %>
	 		 </p>
	 		 <br /><br /><br />

			<%= link_to "accept", {:controller => :requests, :action => :accept, :id => req.closed_group_id,  :del => req.id, :user_id => req.user_id }, {:method => :post } %>
			<%= link_to "decline", {:controller => :requests, :action => :decline, :del => req.id }, {:method => :post } %>
<%
	 	end

	 end
%>
	



<% end %>