


<div class="topbar" style="margin-left: auto ;  margin-right: auto ;" >
                        <div class="left-pane">
                                <nav>
              <%    count = 0
                    @your_opens = UserOpenGroup.all
                      @your_opens.each do |a|
                        if current_user.id == a.user_id 
                          count += 1
                        end
                    end
                  @yours_courses = UserCourse.all
                    @yours_courses.each do |b|
                      if  current_user.id == b.user_id
                        count += 1
                      end
                    end
                   @yours_closeds = UserClosedGroup.all
                    @yours_closeds.each do |c|
                      if current_user.id == c.user_id
                        count += 1
                      end
                    end   

                   if count != 0 %>
                 <ul class="side-menu" style="position: static; top: 65px; z-index: 1000; margin-top: 20px;">
                  <button class="large button span_5_of_5 " style="margin-top: 0px; font-size: 16px; background-color:#2e92cf; color: white; font-weight: bold;">Твоите групи</button>
                    <% @your_opens = UserOpenGroup.all
                      @your_opens.each do |a|
                        if current_user.id == a.user_id %>
                          <li><%= link_to OpenGroup.find(a.open_group_id).name,  {:controller => :open_groups, :action => :show, :id => OpenGroup.find(a.open_group_id).id }, {:method => :get }  %>
                          </li>
                        <% end
                    end

                  @yours_courses = UserCourse.all
                    @yours_courses.each do |b|
                      if current_user.id == b.user_id %>
                         <li><%= link_to Course.find(b.course_id).name,  {:controller => :courses, :action => :show, :id => Course.find(b.course_id).id }, {:method => :get }  %>
                          </li>
                      <% end
                    end

                  @yours_closeds = UserClosedGroup.all
                    @yours_closeds.each do |c|
                      if current_user.id == c.user_id %>
                        <li> <%= link_to ClosedGroup.find(c.closed_group_id).name,  {:controller => :closed_groups, :action => :show, :id => ClosedGroup.find(c.closed_group_id).id }, {:method => :get }  %>

                         </li>
                      <% end
                    end %>
                  </ul>
                  <% end %>
                </nav>
</div>

<div class="middle-pane"> 
        <% if current_user.present? %>
        <%      oGroups = Array.new
                coGroups = Array.new
                clGroups = Array.new 
                qQuest = Array.new
                count = 0
                %>

                <div style="width:95%; margin-top:20px; margin-left:auto; margin-right: auto; ">
                <button class="large" style="width:100%; background-color:#333; text-align:center; font-weight: bold; color:white;  " > Резултати от групи </button>
              
                <table style=" border: 1px #ccc solid; width:100%; margin-left:auto; margin-right: auto;" >
                 

                  <%
        @openResults.each do |b|
                  oGroups.push(b.id)
                  count += 1
                  %>

                   <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:35%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;">  <%= link_to b.name,  {:controller => :open_groups, :action => :show, :id => b.id }, {:method => :get }  %></h5>
                       <%= image_tag("thumbs23.png", :style => "width: 21px; height: 25px; padding-bottom:7px;", :class => "element") %>
                           &nbsp;<span style="font-size: 15px;">
                             <% @likes = LikesOpenGroup.where(:open_group_id =>b.id) %>
                             <%= @likes.length %>
                           </span>
                          <br />
                          <%= image_tag("group4.png", :style => "width: 30px; height: 25px; padding-bottom:7px;", :class => "element") %>
                         &nbsp;<span style="font-size: 15px;">
                          <% users = UserOpenGroup.where(:open_group_id => b.id) %>
                          <%= users.length %>
                         </span>
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:65%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                        <%= b.description %>
                      </td> 
                  </tr>

                  <%
        end
        @courseResults.each do |b|
                coGroups.push(b.id)
                 count += 1
                   %>

                   <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:35%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;">  <%= link_to b.name,  {:controller => :courses, :action => :show, :id => b.id }, {:method => :get }  %></h5>
                       <%= image_tag("thumbs23.png", :style => "width: 21px; height: 25px; padding-bottom:7px;", :class => "element") %>
                           &nbsp;<span style="font-size: 15px;">
                             <% @likes = LikesCourse.where(:course_id => b.id) %>
                             <%= @likes.length %>
                           </span>
                          <br />
                          <%= image_tag("group4.png", :style => "width: 30px; height: 25px; padding-bottom:7px;", :class => "element") %>
                         &nbsp;<span style="font-size: 15px;">
                          <% users = UserCourse.where(:course_id => b.id) %>
                          <%= users.length %>
                         </span>
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:65%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                        <%= b.description %>
                      </td> 
                  </tr>

                  <%
        end
        @closedResults.each do |b|
                clGroups.push(b.id)
                 count += 1
                  %>

                   <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:35%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;">  <%= link_to b.name,  {:controller => :closed_groups, :action => :show, :id => b.id }, {:method => :get }  %></h5>
                       <%= image_tag("thumbs23.png", :style => "width: 21px; height: 25px; padding-bottom:7px;", :class => "element") %>
                           &nbsp;<span style="font-size: 15px;">
                             <% @likes = LikesClosedGroup.where(:closed_group_id => b.id) %>
                             <%= @likes.length %>
                           </span>
                          <br />
                          <%= image_tag("group4.png", :style => "width: 30px; height: 25px; padding-bottom:7px;", :class => "element") %>
                         &nbsp;<span style="font-size: 15px;">
                          <% users = UserClosedGroup.where(:closed_group_id => b.id) %>
                          <%= users.length %>
                         </span>
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:65%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                        <%= b.decription %>
                      </td> 
                  </tr>

                  <%
        end

        @openDesResults.each do |b|
           count += 1
                if !oGroups.include?(b.id)
                  %>
                   <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:35%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;">  <%= link_to b.name,  {:controller => :open_groups, :action => :show, :id => b.id }, {:method => :get }  %></h5>
                       <%= image_tag("thumbs23.png", :style => "width: 21px; height: 25px; padding-bottom:7px;", :class => "element") %>
                           &nbsp;<span style="font-size: 15px;">
                             <% @likes = LikesOpenGroup.where(:open_group_id =>b.id) %>
                             <%= @likes.length %>
                           </span>
                          <br />
                          <%= image_tag("group4.png", :style => "width: 30px; height: 25px; padding-bottom:7px;", :class => "element") %>
                         &nbsp;<span style="font-size: 15px;">
                          <% users = UserOpenGroup.where(:open_group_id => b.id) %>
                          <%= users.length %>
                         </span>
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:65%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                        <%= b.description %>
                      </td> 
                  </tr>

                  <%
                end
        end
        @courseDesResults.each do |b|
           count += 1
                if !coGroups.include?(b.id)
                  %>

                  <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:35%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;">  <%= link_to b.name,  {:controller => :courses, :action => :show, :id => b.id }, {:method => :get }  %></h5>
                       <%= image_tag("thumbs23.png", :style => "width: 21px; height: 25px; padding-bottom:7px;", :class => "element") %>
                           &nbsp;<span style="font-size: 15px;">
                             <% @likes = LikesCourse.where(:course_id => b.id) %>
                             <%= @likes.length %>
                           </span>
                          <br />
                          <%= image_tag("group4.png", :style => "width: 30px; height: 25px; padding-bottom:7px;", :class => "element") %>
                         &nbsp;<span style="font-size: 15px;">
                          <% users = UserCourse.where(:course_id => b.id) %>
                          <%= users.length %>
                         </span>
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:65%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                        <%= b.description %>
                      </td> 
                  </tr>

                  <%
                end
        end
        @closedDesResults.each do |b|
           count += 1
                if !clGroups.include?(b.id)
                  %>

                  <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:35%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;">  <%= link_to b.name,  {:controller => :closed_groups, :action => :show, :id => b.id }, {:method => :get }  %></h5>
                       <%= image_tag("thumbs23.png", :style => "width: 21px; height: 25px; padding-bottom:7px;", :class => "element") %>
                           &nbsp;<span style="font-size: 15px;">
                             <% @likes = LikesClosedGroup.where(:closed_group_id => b.id) %>
                             <%= @likes.length %>
                           </span>
                          <br />
                          <%= image_tag("group4.png", :style => "width: 30px; height: 25px; padding-bottom:7px;", :class => "element") %>
                         &nbsp;<span style="font-size: 15px;">
                          <% users = UserClosedGroup.where(:closed_group_id => b.id) %>
                          <%= users.length %>
                         </span>
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:65%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                        <%= b.decription %>
                      </td> 
                  </tr>

                  <%
                end
        end
        if count == 0
          %>

            <div style="width:100%; text-align: center; padding: 20px; border:1px black solid " > 
                Няма резултати от търсенето по тези критерии
            </div>

          <%
        end
        %>


        </table>
        </div>
         <div style="width:95%; margin-top:20px; margin-left:auto; margin-right: auto; margin-bottom:30px; ">
                <button class="large" style="width:100%; background-color:#333; text-align:center; font-weight: bold; color:white;  " > Резултати от Въпроси </button>
              
                <table style=" border: 1px #ccc solid; width:100%; margin-left:auto; margin-right: auto;" >
                <% count = 0
                   @questionsT.each do |b|
                   qQuest.push(b.id)
                   count += 1
                %>
                  <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:40%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;"><%= link_to b.topic, quick_question_path(b.id) %></h5>
                      
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:60%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                      <%=b.question %>
                      </td> 
                    
                  </tr>
                <% end 

                 @questionsQ.each do |b|
                  count += 1
                    if !qQuest.include?(b.id)
                  %>
                  
                   <tr>
                    <td  style=" border-bottom: 1px #ccc solid; width:40%; text-align:center;">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; color:black;"><%= link_to b.topic, quick_question_path(b.id) %></h5>
                      
                    </td>
                    <td  style=" border-bottom: 1px #ccc solid; width:60%; padding: 0px 10px 10px 10px; text-align:justify; ">
                      <h5 style="font-size: 1.3rem; margin:0; margin-top: 5px; margin-bottom: 10px; text-align: center; color:black;">Описание:</h5>
                      <%=b.question %>
                      </td> 
                    
                  </tr>


                  <%
                    end
                 end

                if count == 0
                %>

                  <div style="width:100%; text-align: center; padding: 20px; border:1px black solid " > 
                      Няма резултати от търсенето по тези критерии
                  </div>


                  <% end %>

                </table>

        </div>
        <% end %>        
</div>

<div class="right-pane"> 
            <nav>
              <ul class="side-menu" style="position: static; top: 65px; z-index: 1000;  margin-top: 19px;">

                  

                  <% 
                    questions = QuickQuestion.all
                    quickAnswers = QuickAnswer.all
                    questionCounter = 0
                    showQuest = true


                    questions.shuffle.each do |x|
                      
                      answered = false
                      
                      quickAnswers.each do |a|
                        if x.id == a.quick_question_id
                          answered = true
                        
                        end
                      end

                      if !answered 
                        if showQuest
                        %>
                        <%= link_to quick_questions_path(), :style => "padding-left: -0px !important; " do %>
                        <button class="large button span_5_of_5" style="margin-top: 0px; font-size: 16px; background-color:#2e92cf; color: white; font-weight: bold;">Неотговорени въпроси </button>
                        <% end  end%>
                        <%
                        showQuest = false
                        questionCounter += 1 %>
                        <li><%= link_to x.topic, quick_question_path(x.id) %></li>
                        <% 
                        if questionCounter == 7
                          break
                        end
                      end
                    end %>    
              </ul>
        </nav>

        <nav>
              
                <ul class="side-menu" style="position: static; top: 65px; z-index: 1000;margin-top:-1px; ">
                  <%= link_to random_groups_path, :style => "padding-left: -0px !important; " do %>
                  <button class="large button span_5_of_5" style="margin-top: 0px; font-size: 16px; background-color:#2e92cf; color: white; font-weight: bold;">Случайни групи</button>
                  <% end %>
                    <% opens = OpenGroup.all
                    limit = 0;
                    opens.shuffle.each do |x| 
                      limit = limit + 1
                      if limit == 3
                        break
                      end
                      %>
                        
                        <li>
                          <%= link_to x.name,  {:controller => :open_groups, :action => :show, :id => x.id }, {:method => :get }  %>
                        </li>
                    <% end %>
                    <% cors = Course.all
                    limit = 0;
                    cors.shuffle.each do |x| 
                      limit = limit + 1
                      if limit == 3
                        break
                      end
                      %>
                        
                        <li>
                          <%= link_to x.name,  {:controller => :courses, :action => :show, :id => x.id }, {:method => :get }  %>
                        </li>
                    <% end %>

                    <% close = ClosedGroup.all
                    limit = 0;
                    close.shuffle.each do |x| 
                      limit = limit + 1
                      if limit == 3
                        break
                      end
                      %>
                        
                        <li>
                          <%= link_to x.name,  {:controller => :closed_groups, :action => :show, :id => x.id }, {:method => :get }  %>
                        </li>
                    <% end %>
                  
                 </ul>
        </nav>
</div>
</div>
