<!DOCTYPE html>
<html>
<head>
  <title>Salam</title>
  <%= stylesheet_link_tag    "metro-bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.min", :media => "all" %>
  <%= javascript_include_tag "active_admin", :media => "all"  %>
  <%= javascript_include_tag "metro.min", :media => "all"  %>
  <%= javascript_include_tag "jquery.widget", :media => "all"  %> 

  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body class="metro">
<% if current_user.present? %>
  <div class="navigation-bar fixed-top dark shadow">
      <nav class="navigation-bar-content topbar" style="margin:0 auto; ">
      <a href="<%= root_path %>" >
         <%= image_tag("logo.png", :style => "padding: 0; margin:0; padding-top:5px;", :class => "element") %>
      </a>
        
         <div class="element input-element s-deformation">
           <div class="input-control text " style="width:auto; height:auto;" > 
            <%= form_tag "/searches", :method => 'get' do %>
                 <%= text_field_tag :search, params[:search], :class => "search", :placeholder => "Search..." %>
                 <button class="btn-search" ></button>
                 <%=submit_tag "", :class => "btn-search"%>
            <% end %>       

             
             
            </div>
          
         </div>
         
                <div class="element place-right">
              <a class="dropdown-toggle" href="#">
                <span class="icon-cog"></span>
              </a>
              <ul class="dropdown-menu place-right" data-role="dropdown">
                <li><a href="#">Your questions</a></li>
                <li> <%= link_to 'Edit profile', edit_user_path(current_user.id) , :class => 'navbar-link' %> </li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              </ul>
            </div>
            
            <span class="element-divider place-right"></span>
              <%= link_to requests_path, :class => "element place-right" do %>
              <span class="icon-bell">
              <% end %>
            
            <%= link_to({:controller => :users, :action => :show, :id => current_user.id }, {:method => :get }) do %>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right" style="width:auto; padding-right: 12px;">
              <font style="font-size:20px; color: white; "> 
               <%= current_user.name  %>
              </font>
              <% @user = User.find(current_user.id) %>
              <%= image_tag @user.pic.url() %>
            </button>
            <% end %>
      </nav>
     </div>
     <div style="height:43px;"> </div>
<% end %> 
<%= yield %>


</body>
</html>
